button{
  border-radius: 20px;
  outline: none;
  user-select: none;
  background: transparent;
  width: 150px;
  height: 50px;
  margin: 10px 0 0 30px ;
  color: bisque;
  text-transform: uppercase;
  border: 1px solid bisque;
  transition-duration: 0.1s;
  font-weight: 700;
  font-size: 15px;
}
button:hover{
  color: rgb(19, 194, 19);
  border: 1px solid rgb(19, 194, 19);
}
button:active{
 opacity: 0.3;
}
button:hover:last-child{
  color:rgb(236, 84, 84);
  border: 1px solid rgb(236, 84, 84);
}
textarea{
  border-radius: 30px;
  background: transparent;
  color: bisque;
  font-size: 15px;
  width: 400px;
  height: 100px;
  resize: none;
  outline: none;
  border: 2px solid bisque;
  padding: 10px 0 0 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

textarea:focus{
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

.posts{
  margin: 20px 0 0 0;
}