body{
  /* background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('http://wallpapers-image.ru/1920x1080/bridges/wallpapers/wallpapers-bridges-13.jpg') fixed repeat; */
  background-size: cover;
  background:  #3b5998;
}
.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;

grid-template-areas: 
"h h "
"n c ";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content{
    margin-top: 15px;
    grid-area: c;
}