.dialogs{
display: grid;
grid-template-columns: 2fr 10fr;
color: white;
user-select: none;
}
.dialogsItem{

}
.dialogsItem a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    margin-bottom: 10px;
}

.dialogsItem a.active{
    color: rgb(184, 179, 172);
    background:  #5d86dd;
}
.dialogsItem a:hover{
    background: #4a6dba;
}
.dialogsItem .active{
    color: slategray;
}
.messages{
    margin-left: 10px;
    display: inline-block;
}
.message{
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    height: 20px;
    margin-bottom: 10px;
}